<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>test ajout</h1> 
<form action="/artistes/add" method="post">
    <input name="nom" type="text">
    <input name="anneeNaissance" type="text">
    <input name="ville" type="text">
    <input name="label" type="text">
    <input name="style" type="text">
    <input name="bio" type="text">
    <input name="url_image" type="text">
    <input name="url_banniere" type="text">
    <input type="submit" value="ajouter">
</form>
</body>
</html>