<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <h1>{{artiste.nom}}</h1>
    <h1>{{artiste.anneeNaissance}}</h1>
    <h1>{{artiste.label}}</h1>
    <p>{{artiste.bio}}</p>
    <h1>{{artiste.style}}</h1>
    <div>
        <h2>ses albums</h2>
        {%for album in artiste.albums %}
        <a href="/albums/voir/{{album._id}}">{{album.nom}}</a>
        {% endfor %}
    </div>

    test suppr
    <form action="/artistes/delete/{{artiste._id}}" method="post">
        <button type="submit">supprimer</button>
    </form>
</body>
</html>