{% extends "base.njk" %}
{% block body %}
<div class="container">
    <h1 class="position-absolute start-50 translate-middle-x"> Bienvenue sur votre site musical </h1>
    <h5> Choisissez une rubrique dans le menu et vous pourrez profiter plainement de toutes les fonctionalités </h5>
</div>

{% endblock %}