{% extends "base.njk" %}
{% block body %}
            <div class="modal-dialog" role="document">
        {% for album in user.albums %}
            <!--<h2>{{album.nom}}</h2>-->
                <div class="modal-content rounded-6 shadow">
                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title">{{album.nom}}</h5>
                    </div>
                    <div class="modal-body py-0">
                        <a href="/albums/voir/{{album._id}}" class="btn btn-lg btn-primary w-100 mx-0 mb-2">Voir l'album</a>
                        <form action="/liste/supprimer" method="post">
                            <input type="hidden" name="album_id" value="{{album._id}}">
                            <button type="submit" class="btn btn-danger w-100 mx-0">supprimer</button>
                        </form>
                    </div>
                </div>
        {% endfor %}
            </div>
{% endblock %}