{% extends "base.njk" %}
{% block body %}
    <div class="container ">
        <div class="d-flex flex-wrap justify-content-around">
            <div class="col-sm-2">
                <img src="{{artiste.url_image}}" class="img-thumbnail" style="border-radius: 10%; width: 150px;" alt="...">
                <section class="d-flex flex-wrap">
                    <h1>{{artiste.nom}}</h1>
                    <h1>{{artiste.anneeNaissance}}</h1>
                </section>
            </div>
            <div class="col-sm-8">
                <h1 class="text-danger">{{artiste.label}}</h1>
                <h5> Bio </h5>
                <p>{{artiste.bio}}</p>
                <h1>{{artiste.style}}</h1>
            </div>
        </div>
        <div>
            <h2>Albums</h2>
            <div class="row d-flex justify-content-around mp-auto">
                {%for album in artiste.albums %}
                    <div class="card col-sm-6 border-light" style="width: 18rem;">
                        <img src="{{album.url_image}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{album.nom}}</h5>
                            <a href="/albums/voir/{{album._id}}" class="btn btn-primary">Voir l'album</a>
                            <form action="/liste/ajouter" method="post">
                                <input type="hidden" name="album_id" value="{{album._id}}">
                                <button type="submit" class="btn btn-success">add list</button>
                            </form>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    {% endblock %}