<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/artistes/{{artiste.id}}" method="post">
        <input type="text" placeholder="{{artiste.nom}}">
        <button type="submit">modifier</button>
    </form>

</body>
</html>