{% extends "base.njk" %}
{% block body %}

    <div class="row d-flex justify-content-around mp-auto">
        {%for artiste in artistes  %}
            <div class="card col-sm-6 border-light" style="width: 18rem;">
                <img src="{{artiste.url_image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ artiste.nom }}</h5>
                    <a href="/artistes/voir/{{ artiste.id }}" class="btn btn-primary">Voir l'artiste</a>
                </div>
            </div>

        {% endfor %}

    </div>
{% endblock %}