{% extends "base.njk" %}
{% block body %}
    <div class="row d-flex justify-content-around mp-auto">
        <div class="card col-sm-6 border-light" style="width: 18rem;">
            <img src="{{album.url_image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{album.nom}}</h5>
                <div class="row d-flex justify-content-around mp-auto">
                    <h5 class="card-title text-danger">Titre de l'album</h5>
                    {%for titre in album.titres %}
                        {{titre.nom}}
                        <!--<form action="/liste/ajouter" method="post">
                            <input type="hidden" name="album_id" value="{{titre._id}}">
                            <button type="submit" class="btn btn-danger w-100 mx-0">add list</button>
                        </form>-->
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}