{% extends "base.njk" %}
{% block body %}
    <div class="row d-flex justify-content-around mp-auto">
        {%for album in albums %}
            <div class="card col-sm-6 border-light" style="width: 18rem;">
                <img src="{{album.url_image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{album.nom}}</h5>
                    <a href="/albums/voir/{{album._id}}" class="btn btn-primary">Voir l'album</a>
                    <form action="/liste/ajouter" method="post">
                        <input type="hidden" name="album_id" value="{{album._id}}">
                        <button type="submit" class="btn btn-success">add list</button>
                    </form>
                </div>
            </div>

        {% endfor %}

    </div>
{% endblock %}