<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>test ajout album</h1> 
<form action="/albums/add" method="post">
    <input name="nom" type="text">
    <input name="annee" type="text">
    <input name="genre" type="text">
    {{album.artiste._id}}
    <select style="width: 100px;" name="artiste_id" id="" value="{{album.artiste}}" >
        <option value="{{artiste._id}}">artiste.nom</option>
        <option value="{{artiste._id}}">artiste.nom</option>
        <option value="{{artiste._id}}">artiste.nom</option>
        {% for artiste in artistes %}
        <option value="{{artiste._id}}">{{artiste.nom}}</option>
        {% endfor %}
    </select>

    <style>
        select {
    font-size: .9rem;
    padding: 2px 5px;
}
    </style>
    <input name="url_image" type="text" value="{{album.url_image}}">
    <input type="submit" value="ajouter">
</form>
</body>
</html>