<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <h1>{{album.nom}}</h1>
    <h1></h1>
    <div>
        <h2>ses titres</h2>
        {%for titre in album.titres %}
        <a href="/albums/voir/{{titre._id}}">{{titre.nom}}</a>
        {% endfor %}
    </div>

    test suppr
    <form action="/artistes/delete/{{albums._id}}" method="post">
        <button type="submit">supprimer</button>
    </form>

    {% if user %} 
    <form action="/liste/ajouter" method="post">
        <input type="hidden" name="album_id" value="{{album.id}}">
        <button type="submit">ajouter à ma liste</button>
    </form>
    {% endif %}
</body>
</html>