 {{user.username}}
 
 {% for album in user.albums %}
<h2>{{album.nom}}</h2>
<form action="/liste/supprimer" method="post">
    <input type="hidden" name="album_id" value="{{album._id}}">
    <button type="submit">supprimer</button>
</form>
 {% endfor %}