<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">

        <label for="">username</label> <br>
        <input type="text" name="username" id=""><br>
        <label for="">password</label> <br>
        <input type="password" name="password"> <br>
        <button type="submit">connexion</button>

    </form>
</body>
</html>